body {
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: #F4F3F1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #F4F3F1 0%, #F4F3F1 12%, #F4F3F1 12%);
    margin: 0;
    padding: 0;
    }

body::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 4%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    }

#home{
    position: absolute;
    top: 20px;
    right: 1%;
    display: inline-block;
    padding: 0.5% 1%;
    background-color: #96608E;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1vw;
    font-family: sans-serif;
    }

#min_side{
    position: absolute;
    top: 20px;
    right: 6%;
    display: inline-block;
    padding: 0.5% 1%;
    background-color: #96608E;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1vw;
    font-family: sans-serif;
    }

 #morearne{
    position: absolute;
    bottom: -50%;
    left: 6%;
    display: inline-block;
    padding: 0.5% 1%;
    background-color: #96608E;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 17px;
    font-family: sans-serif;
 }   

.button:hover {
    background-color: #333;
    color: #fff;
    }

#logo{
    position: absolute;
    height: 8%;
    width: 15%;
    border-radius: 10px;
    left: 5%;
    top: 2%; 
    }

#titel {
    position: absolute;
    top: 12%;
    display: inline-block;
    color:#4A4B4F;
    padding: 1vw;
    font-size: 2vw; 
    font-family: sans-serif;
    }
    #undertitel{
        position: absolute;
        top: 20%;
        display: inline-block;
        color:#4A4B4F;
        padding: 1vw;
        font-size: 23px; 
        font-family: sans-serif;
    }

    img{
    
        border-radius: 30%;
        border-color: #81A979;
        width:350px;
        height:450px;
        
    }
    
    #arne{
        border-radius: 30%;
        position: static;
        bottom: -80%;
        width:250px;
        height:300px;
        float: right;
        margin-left: 15px;
        
        
        border-color: #81A979;
    }
    #info{
        font-size: 25px;
        font-family: sans-serif;
        position: relative;
        bottom: -60%;
        left: 25%;
        line-height: 1.9;
        text-align: left;
        padding-left: 10px;
      
        color: #C7B9A5;
        
     
    }
    #imagenaess{
        border-radius: 30%;
        border-color: #81A979;
        position: absolute;
        left: 10px;
        bottom: -5%;
        width:350px;
        height:450px;
    }
    
    .sitater{
        position: absolute;
        color: #6D6E71;
        top: 30%;
        left: 35%;
        font-size: 50px;
        line-height: 1.5;
        font-family: sans-serif;
    }
    