body{
    background-color: #F4F3F1;
}

#logo{
    position: absolute;
    height: 8%;
    width: 15%;
    border-radius: 10%;
    left: 5%;
    top: 2%; 
}
#home{
    position: relative;
    font-size: 20px;
    left: 86%;
}
#home:hover{
    background-color: #333;
    color: #fff;
}
.profile{
    position: relative;
    font-size: 20px;
    left: 86%;
}

h1{
color:  #231F20;   
font-size: 36px; 
font-family: sans-serif;
position: relative;
margin-left: 40%;
}
h2{
    color:#6D6E71;
    font-size: 30px;
    font-family: sans-serif;
}
img{

    border-radius: 30%;
    border-color: #81A979;
    width:350px;
    height:450px;
    
}

#arne{
    border-radius: 30%;
    position: static;
    bottom: -80%;
    width:250px;
    height:300px;
    float: right;
    margin-left: 15px;
    
    
    border-color: #81A979;
}
p{
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1.9;
    text-align: left;
    margin:10px;
    color: #C7B9A5;
    
 
}
.sitater{
    position: absolute;
    color: #6D6E71;
    top: 30%;
    left: 35%;
    font-size: 45px;
    font-family: sans-serif;
}
a{
  
  text-decoration:none;
  font-size: 20px;
  font-family: sans-serif;
  color: #F4F3F1;
  background-color: #96608E;
  position: absolute;
  border-style: solid;
  border-color: #96608E;
  border-radius: 50px;
 
  left: 20px;
  bottom: -85%;

}
a:hover{
    background-color: #333;
    color: #fff;
    box-shadow: inset 200px , 0 , 0 , 0 white;
}
