body {
  position: relative;
  height: 100vh;
  margin: 0;
  background-color: #F4F0EE;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #F4F3F1 0%, #F4F3F1 12%, #F4F3F1 12%);
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#startAssignment {
  border: 1px solid;
  position: absolute;
}

#startCheck {
  border: 1px solid;
  text-align: center;
}

.question {
  display: none;
  position: absolute;
  border: 2px solid;
  height: 60vh;
  width: 40vw;
  align-items: center;
  text-align: center;
}

.question.show {
  display: grid;
}

#imageOne {
  height: 40vh;
  width: 40vw;
  padding: 0%;
}

#imageTwo {
  height: 40vh;
  width: 40vw;
  padding: 0%;
}

#video {
  height: 40vh;
  width: 40vw;
  border: 0px;
}

.button {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  padding: 0.5% 1%;
  background-color: #96608E;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  font-size: 1vw;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.home{
  position: absolute;
  top: 20px;
  right: 1%;
  display: inline-block;
  padding: 0.5% 1%;
  background-color: #96608E;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  font-size: 1vw;
  font-family: sans-serif;
}

.home:hover {
  background-color: #333;
  color: #fff;
}

.min_side{
  position: absolute;
  top: 20px;
  right: 6%;
  display: inline-block;
  padding: 0.5% 1%;
  background-color: #96608E;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  font-size: 1vw;
  font-family: sans-serif;
}

.min_side:hover {
  background-color: #333;
  color: #fff;
}