h1 {text-align: center;
    position: absolute;
width: 670px;
height: 222px;
left: 435px;
top: -65px; 

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 96px;
text-align: center;}
    p {text-align: center;}
    div {text-align: center;}

 body::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 4%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 9999;
      }

.HO{
    position: absolute;
    left:1400px;
    opacity: 0.5;
    top:30px
}
.HO:hover{
    opacity:1;
}
.HB{
    position: absolute;
    left:1455px;
    opacity: 0.5;
    top:30px
}

.HB:hover{
    opacity:1;
}

.SR{
    position: absolute;
width: 422px;
height: 242px;
left: 115px;
top: 195px;
}


.SF{

    position: absolute;
width: 422px;
height: 242px;
left: 537px;
top: 195px;

}

.LK{

    position: absolute;
width: 422px;
height: 242px;
left: 959px;
top: 195px;

}

.MF{

    position: absolute;
width: 422px;
height: 242px;
left: 115px;
top: 436px;
}

.SU{
    position: absolute;
width: 422px;
height: 242px;
left: 537px;
top: 436px;
}

.DO{
    position: absolute;
width: 422px;
height: 242px;
left: 959px;
top: 436px;
}
/*.SRpic{
    display: flex;
} */

.SRtekst{
    font-size: 60px;
}


.SRdiv{
    position: absolute;
    top:220px;
    left: 140px;
    color: black;
    visibility: hidden; 
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.SRpic:hover .SRdiv{
    visibility: visible;
    opacity: 1;
    
    
}
.SRpic:hover .SR{
    filter: blur(2.5px);
    
    
}
.SFtekst{
    font-size: 60px;
}

.SFdiv{
    position: absolute;
    top:200px;
    left: 590px;
    color: black;
    visibility: hidden; 
    opacity: 0;
    transition: opacity .2s, visibility .2s;

}
.SFpic:hover .SFdiv{
    visibility: visible;
    opacity: 1;
}

.SFpic:hover .SF{
        filter: blur(2.5px);
        
        
}

.LKtekst{
    font-size: 60px;
}

.LKdiv{
    position: absolute;
    top:225px;
    left: 1025px;
    color: black;
    visibility: hidden; 
    opacity: 0;
    transition: opacity .2s, visibility .2s;

}
.LKpic:hover .LKdiv{
    visibility: visible;
    opacity: 1;
}

.LKpic:hover .LK{
        filter: blur(2.5px);
        
        
}


.MFtekst{
    font-size: 60px;
}

.MFdiv{
    position: absolute;
    top:460px;
    left:160px;
    color: black;
    visibility: hidden; 
    opacity: 0;
    transition: opacity .2s, visibility .2s;

}
.MFpic:hover .MFdiv{
    visibility: visible;
    opacity: 1;
}

.MFpic:hover .MF{
        filter: blur(2.5px);
        
        
}


.SUtekst{
    font-size: 60px;
}

.SUdiv{
    position: absolute;
    top:460px;
    left:575px;
    color: black;
    visibility: hidden; 
    opacity: 0;
    transition: opacity .2s, visibility .2s;

}
.SUpic:hover .SUdiv{
    visibility: visible;
    opacity: 1;
}

.SUpic:hover .SU{
        filter: blur(2.5px);
        
        
}


.DOtekst{
    font-size: 60px;
}

.DOdiv{
    position: absolute;
    top:460px;
    left:1025px;
    color: black;
    visibility: hidden; 
    opacity: 0;
    transition: opacity .2s, visibility .2s;

}
.DOpic:hover .DOdiv{
    visibility: visible;
    opacity: 1;
}

.DOpic:hover .DO{
        filter: blur(2.5px);
        
        
}

#logo{
    position: absolute;
    height: 8%;
    width: 15%;
    left: 5%;
    top: 2%; 
  }

